# ExtremeKernel config file
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

CONFIG_LOCALVERSION="-ChicletKernel-v1.1-S21"
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_CMDLINE="cgroup_disable=pressure"
CONFIG_CMDLINE_EXTEND=y
# CONFIG_UH is not set
# CONFIG_FASTUH_RKP is not set
# CONFIG_UH_RKP_FIMC_CHECK is not set
# CONFIG_KDP_CRED is not set
# CONFIG_KDP_NS is not set
# CONFIG_KDP_DMAP is not set
# CONFIG_UH_LKM_BLOCK is not set
# CONFIG_UH_PDBT is not set
# CONFIG_RKP_CFP_JOPP is not set
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_KPROBES=y
CONFIG_CFQ_GROUP_IOSCHED=y
CONFIG_IOSCHED_BFQ=y
CONFIG_LARGE_TCP_INITIAL_BUFFER=y
# CONFIG_KSU is not set
CONFIG_IP_NF_TARGET_TTL=y
CONFIG_DISABLE_TRACE_PRINTK=y
LARGE_TCP_INITIAL_BUFFER=y
